* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}
.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Full viewport height */
}
.containerPic{
    display: flex ;
    width: 60%;
    height: 100vh;
}
.containerForm{
    width: 40%;
    height: 100vh;
    padding-left: 40px;
    padding-right: 90px;
    margin-top: 130px;
}
.image{
    max-width: 100%;  /* Limits image width to 100% of container */
    max-height: 100%; /* Limits image height to 100% of container */
    object-fit: cover;
}
.greeting{
    font-family:sans-serif;
    font-weight:bolder;
    font-size: larger;
    
}
.user{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 20px ;
    font-family:'Times New Roman', Times, serif;
    font-size: small;
}
.password{
    margin-top: 15px;
    margin-left: 20px ;
    font-family:'Times New Roman', Times, serif;
    font-size: small;
}
input{
    width: 80%;            /* Adjust width as needed */
    padding: 10px;         /* Inner padding for a comfortable size */
    margin-top: 10px;      /* Space between text and input */
    font-size: 13px;       /* Text size */
    border: none; /* Light border */
    border-radius: 5px; 
    background-color:rgba(109, 100, 100, 0.1);
    outline: none;
}
input::placeholder {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change this to your desired font */
    font-size: 12px;                  /* Font size for the placeholder text */
    background-color: rgba(255, 255, 255, 0.1);
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.remember{
    margin-top: 20px;
    display: flex;
    align-items: center; /* Center checkbox and label vertically */
    color: rgb(6, 0, 0); /* Text color for contrast */
    font-family: 'Times New Roman', Times, serif; /* Optional font styling */
    font-size: small;
}
.signup{
    color: blue;
    margin-top: 5px;
    margin-left: 100px;
    font-size: small;
}
.signin{
    display: flex;
    margin-left: 70px;


}
button {
    margin-top: 30px;
    padding: 6px 50px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    background-color: hsl(220, 25%, 9%); /* Button background color (green) */
    color: white;
    font-size: 12px; /* Font size */  
}

